.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  /* display: flex;
  flex-direction: column; */
}

span {
  font-size: 0.8em;
  color: rgba(200, 0, 0, 1);
}